<% shopping_run = ShoppingRun.find_by_id(params[:shopping_run]) %>

<%= form_for(@shopping_complete) do |f| %>
    <% if @shopping_complete.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@shopping_complete.errors.count, "error") %> prohibited this shopping_complete from being saved:</h2>

            <ul>
                <% @shopping_complete.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="well">
        <div class="field">
            <%= f.label :cost %><br />
            <%= f.text_field :cost , :required => "true", :type => "number", :min => "0.01", :step => "0.01", :value => "0.00"%> 
        </div>
        <div class="field">
            <%= f.label :date %><br />
            <%= f.text_field :date , :required => "true", :pattern => "[0-9]{2}/[0-9]{2}/[0-9]{4}", :value => shopping_run.date %>
        </div>
        <%= f.hidden_field :id, :value => shopping_run.id %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <script>
        $('#shopping_complete_date').datepicker();
    </script>
<% end %>

