<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @reminder.user %>
</p>

<p>
  <b>Time:</b>
  <%= @reminder.time %>
</p>

<p>
  <b>In advance:</b>
  <%= @reminder.in_advance %>
</p>


<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
