<% my_shopping_runs = [] %>
<% ShoppingRun.all.each do |shopping_run| %>
    <% if current_user?(User.find_by_id(shopping_run.shopper)) %>
        <% my_shopping_runs << [shopping_run.time, shopping_run.id] %>
    <% end %>
<% end %>

<%= form_for(@shopping_request) do |f| %>
    <% if @shopping_request.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@shopping_request.errors.count, "error") %> prohibited this shopping_request from being saved:</h2>

            <ul>
                <% @shopping_request.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="well">
        <%= f.label :shopping_run %><br />
        <%= f.select :shopping_run, my_shopping_runs, :required => true %>
    </div>
    <%= f.hidden_field :meal_event, :value => @meal_event %>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>


