<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Paid:</b>
  <%= @user.paid %>
</p>

<p>
<b>Proposed:</b> <br />
<%= @user.meals.map(&:name).join(', ') %>
</p>

<p>
<b>Cooking:</b> <br />
<% @user.meal_events.each do |meal_event| %>
    <%= meal_event.meal.name %> on <%= meal_event.date %> at <%= meal_event.time %>
    <br />
<% end %>
</p>

<p>
<b>Shopping:</b> <br />
<% @user.shopping_runs.each do |shopping_run| %>
    <% if shopping_run.meal_events.empty? %>
        nothing
    <% else %>
        <%= shopping_run.meal_events.map(&:meal).map(&:name).join(', ') %>
    <% end %>
    on <%= shopping_run.date %>
    <br />
<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
