<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Paid:</b>
  <%= @user.paid %>
</p>

<p>
<b>Cooking:</b>
<% MealEvent.each do |meal_event| %>
    <% if User.find_by_id(meal_event.cook) == @user %>
        <%= Meal.find_by_id(meal_event.meal).name %> on <%= meal_event.date %> at <%= meal_event.time %>,
    <% end %>
<% end %>
</p>

<p>
<b>Shopping:</b>
<% ShoppingRun.each do |shopping_run| %>
    <% if User.find_by_id(shopping_run.shopper) == @user %>
        <%= shopping_run.requests.to_a %> on <%= shopping_run.date %>,
    <% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
