<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Paid:</b>
  <%= @user.paid %>
</p>

<p>
<b>Cooking:</b> <br />
<% MealEvent.each do |meal_event| %>
    <% if meal_event.cook == @user %>
        <%= meal_event.meal.name %> on <%= meal_event.date %> at <%= meal_event.time %> <br />
    <% end %>
<% end %>
</p>

<p>
<b>Shopping:</b> <br />
<% ShoppingRun.each do |shopping_run| %>
    <% if shopping_run.shopper == @user %>
        <%= shopping_run.requests.to_a %> on <%= shopping_run.date %> <br />
    <% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
