<p id="notice"><%= notice %></p>

<p>
<b>Name:</b>
<%= @user.name %>
</p>

<% if @user == current_user || is_admin? %>
    <p>
    <b>Uid:</b>
    <%= @user.uid %>
    </p>
<% end %>

<% if @user == current_user || is_admin? %>
    <p>
    <b>Email:</b>
    <%= @user.email %>
    </p>
<% end %>

<% if @user == current_user || is_admin? %>
    <p>
    <b>Paid:</b>
    <%= @user.paid %>
    </p>
<% end %>

<p>
<b>Proposed:</b> <br />
<%= @user.meals.map(&:name).join(', ') %>
</p>

<p>
<b>Cooking:</b> <br />
<% @user.meal_events.each do |meal_event| %>
    <%= meal_event.meal.name %> on <%= meal_event.date %> at <%= meal_event.time %>
    <%= link_to 'Details', meal_event_path(meal_event) %>
    <br />
<% end %>
</p>

<p>
<b>Shopping:</b> <br />
<% @user.shopping_runs.each do |shopping_run| %>
    <% if shopping_run.meal_events.empty? %>
        nothing
    <% else %>
        <%= shopping_run.meal_events.map(&:meal).map(&:name).join(', ') %>
    <% end %>
    on <%= shopping_run.date %>
    <%= link_to 'Details', shopping_run_path(shopping_run) %>
    <br />
<% end %>
</p>

<p>
<b>Liked:</b> <br />
<% Meal.each do |meal| %>
    <% if meal.voters.include?(@user.id) %>
        <%= link_to meal.name, meal_path(meal) %>
        <br />
    <% end %>
<% end %>
</p>

<p>
<b>Helped cook:</b> <br />
<% MealEvent.each do |meal_event| %>
    <% if meal_event.helpers.include?(@user.id) %>
        <%= link_to meal_event.meal.name, meal_event_path(meal_event) %> on <%= meal_event.date %>
        <br />
    <% end %>
<% end %>
</p>

<p>
<b>Helped shop:</b> <br />
<% ShoppingRun.each do |shopping_run| %>
    <% if shopping_run.helpers.include?(@user.id) %>
        with <%= link_to shopping_run.shopper.name, user_path(shopping_run.shopper) %> on <%= shopping_run.date %>
        <%= link_to 'Details', shopping_run_path(shopping_run) %>
        <br />
    <% end %>
<% end %>
</p>

<p>
<b>RSVPed to:</b> <br />
<% MealEvent.each do |meal_event| %>
    <% if meal_event.rsvps.include?(@user.id) || meal_event.late_rsvps.include?(@user.id) %>
        <%= link_to meal_event.meal.name, meal_event_path(meal_event) %> on <%= meal_event.date %>
        <br />
    <% end %>
<% end %>
</p>

<p>
<b>Attended:</b> <br />
<% MealEvent.each do |meal_event| %>
    <% if meal_event.customers.include?(@user.id.to_s) %>
        <%= link_to meal_event.meal.name, meal_event_path(meal_event) %> on <%= meal_event.date %>
        <br />
    <% end %>
<% end %>
</p>

<% if @user == current_user || is_admin? %>
    <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
