<% provide(:title, "Meals") %>

<div class="hero-unit">
    <h1>Meals <small> create, vote and cook </small></h1>
</div>

<script type="text/javascript">
    function toggle(id) {
        var item = document.getElementById(id);
        item.className=(item.className=='hidden')?'':'hidden';
    }
</script>

<p>
See the table below for all proposed meals.
<a href="javascript:toggle('help')">Help</a>
</p>

<div id=help class='hidden'>
    <li>Click on 'New Meal' if you have a meal suggestion. Your suggestion will be added to the table, and everyone (including yourself) can vote on or commit to cook the meal.</li>
    <li>Please vote for other meal proposals that you like, to show your support! All users can vote at most once for any particular meal suggestion.</li>
    <li>Click on "Cook This!" to fill out information for cooking a new meal.</li>
    <br />
</div>

<div class="row-fluid">
    <table class="display" id="meal-table">
        <thead>
            <tr>
                <th>MEAL</th>
                <th>Proposed by</th>
                <th># Votes</th>
                <% if signed_in? %>
                    <th></th>
                    <th></th>
                <% end %>
                <% if is_admin? %>
                    <th></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @meals.each do |meal| %>
                <% unless has_cook?(meal) %>
                    <tr>
                        <td> <%= link_to meal.name, meal_path(meal) %> </td>
                        <td> <%= link_to meal.proposer.name, user_path(meal.proposer) %> </td>
                        <td> <%= meal.voters.size %> </td>
                        <% if signed_in? %>
                            <td> <%= link_to vote_text(meal), edit_vote_path(meal) %> </td>
                            <td> <%= link_to 'Cook this!', new_meal_event_path(:meal => meal.id) %> </td>
                        <% end %>
                        <% if is_admin? %>
                            <td> <%= link_to 'Remove', meal, :method => :delete, :data => { :confirm => "Are you sure?" } %></td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
<br />

<% if signed_in? %>
    <%= link_to 'New Meal', new_meal_path, :class => "btn btn-large" %>
<% end %>

<script>
    $(document).ready(function() {
        $("#meal-table").dataTable();
    });

    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });
</script>

