<% provide(:title, "Meals") %>

<h1>Meals</h1>

<table cellpadding=10>
    <tr>
        <td>MEAL</td>
        <td>Proposed by</td>
        <td># Votes</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <% @meals.each do |meal| %>
        <tr>
            <td> <%= meal.name %> </td>
            <td> <%= meal.proposer %> </td>
            <td> <%= meal.votes.size %> </td>
            <% if signed_in? %>
                <% if meal.votes.has_key?(current_user.name) %>
                    <td> <%= link_to '-1', edit_vote_path(meal) %> </td>
                <% else %>
                    <td> <%= link_to '+1', edit_vote_path(meal) %> </td>
                <% end %>
                <td> <%= link_to 'Cook this!' %> </td>
                <% if is_admin? %>
                    <td> <%= link_to 'Remove', meal, :method => :delete, :data => { :confirm => "Are you sure?" } %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>

<br />

<% if signed_in? %>
<%= link_to 'New Meal', new_meal_path, :class => "btn btn-primary" %>
<% end %>
