<% provide(:title, "Meals") %>

<div class="hero-unit">
    <h1>Meals     <small> create, edit, vote and cook </small></h1>
</div>
<div class="row-fluid">
    <table class="display" id="meal-table">
        <thead>
            <tr>
                <th>MEAL</th>
                <th>Proposed by</th>
                <th># Votes</th>
                <% if signed_in? %>
                    <th></th>
                    <th></th>
                <% end %>
                <% if is_admin? %>
                    <th></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @meals.each do |meal| %>
                <% unless has_cook?(meal) %>
                    <tr>
                        <td> <%= meal.name %> </td>
                        <td> <%= meal.proposer.name %> </td>
                        <td> <%= meal.voters.size %> </td>
                        <% if signed_in? %>
                            <td> <%= link_to vote_text(meal), edit_vote_path(meal) %> </td>
                            <td> <%= link_to 'Cook this!', new_meal_event_path(:meal => meal.id) %> </td>
                        <% end %>
                        <% if is_admin? %>
                            <td> <%= link_to 'Remove', meal, :method => :delete, :data => { :confirm => "Are you sure?" } %></td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
<br />

<% if signed_in? %>
    <%= link_to 'New Meal', new_meal_path, :class => "btn btn-large" %>
<% end %>

<script>
    $(document).ready(function() {
        $("#meal-table").dataTable();
    });

    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });
</script>

