<%= form_for(@shopping_run) do |f| %>
    <% if @shopping_run.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@shopping_run.errors.count, "error") %> prohibited this shopping_run from being saved:</h2>

            <ul>
                <% @shopping_run.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="well">
        <%= f.label :cost %><br />
        <%= f.text_field :cost , :required => "true", :type => "number", :min => "0.01", :step => "0.01", :value => "0.01"%> 
    </div>
    <div class="well">
        <%= f.label :date %><br />
        <%= f.text_field :date , :required => "true", :pattern => "[0-9]{2}/[0-9]{2}/[0-9]{4}", :value => "enter date here"%>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <script>
        $('#shopping_run_date').datepicker();
    </script>
<% end %>

