<%= form_for(@shopping_run) do |f| %>
    <% if @shopping_run.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@shopping_run.errors.count, "error") %> prohibited this shopping_run from being saved:</h2>

            <ul>
                <% @shopping_run.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="well">
        <div class="field">
            <%= f.label :date %><br />
            <%= f.text_field :date , :required => "true", :pattern => "[0-9]{2}/[0-9]{2}/[0-9]{4}", :value => @shopping_run.date %>
        </div>
        <div class="field">
            <%= f.label :remind_in_advance, "Enter for email notification. Leave blank otherwise." %><br />
            <%= f.text_field :remind_in_advance, :value => @shopping_run.remind_in_advance %>
        </div>
        <% if is_admin? %>
            <div class="field">
                <%= f.label :shopper %><br />
                <%= f.select :shopper, options_for_select(User.all.map{ |user| [user.name, user.id] }, @shopping_run.shopper.id), :required => true %>
            </div>
        <% else %>
            <%= f.hidden_field :shopper, :value => @shopping_run.shopper.id %>
        <% end %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <script>
        $('#shopping_run_date').datepicker();
    </script>
<% end %>

