<% provide(:title, "Shopping Runs") %>
<div class="page-header well">
    <h1>Pending Requests</h1>
</div>
<div class="row-fluid">

    <table class="display" id="requests-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>MEAL</th>
                <th>Cook</th>
                <th>Materials Needed</th>
                <% if is_admin? %>
                    <th></th>
                    <th></th>
                    <th></th>
                <% end %>
                <% if signed_in? %>
                    <th></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% MealEvent.each do |meal_event| %>
                <% if is_pending?(meal_event) %>
                    <tr>
                        <td> <%= meal_event.time %> </td>
                        <td> <%= Meal.find_by_id(meal_event.meal).name %> </td>
                        <td> <%= User.find_by_id(meal_event.cook).name %> </td>
                        <td> <%= meal_event.materials %></td>
                        <% if is_admin? %>
                            <td> <%= meal_event.rsvps.to_a %> </td>
                            <td> <%= meal_event.latersvps.to_a %> </td>
                            <td> <%= meal_event.customers.to_a %> </td>
                        <% end %>
                        <% if signed_in? %>
                            <td> <%= link_to "Buy Supplies", edit_meal_event_status_path(meal_event) %> </td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>

<hr></hr>

<div class="page-header well">
    <h1><%= yield(:title) %></h1>
</div>
<div class="row-fluid">

    <table class="display" id="shopping-runs-table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Requests</th>
                <th>Shopper</th>
                <% if is_admin? %>
                    <th>Cost</th>
                <% end %>
                <th></th>
                <% if is_admin? %>
                    <th></th>
                    <th></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @shopping_runs.each do |shopping_run| %>
                <tr>
                    <td> <%= shopping_run.status %> </td>
                    <td> <%= shopping_run.time %> </td>
                    <td> <%= shopping_run.requests.to_a %> </td>
                    <td> <%= User.find_by_id(shopping_run.shopper).name %> </td>
                    <% if is_admin? %>
                        <td> <%= shopping_run.cost %> </td>
                    <% end %>
                    <% if shopping_run.status == 'Pending' && current_user?(User.find_by_id(shopping_run.shopper)) %>
                        <td> <%= link_to "Mark Completed", edit_shopping_run_path(shopping_run) %> </td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <% if is_admin? %>
                        <td> <%= link_to 'Edit', edit_shopping_run_path(shopping_run) %> </td>
                        <td> <%= link_to 'Remove', shopping_run, :method => :delete, :data => { :confirm => "Are you sure?" } %> </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<br />

<% if signed_in? %>
    <%= link_to 'New Shopping Run', new_shopping_run_path, :class => "btn btn-large" %>
<% end %>
<hr />

<script>
    $(document).ready(function() {
        $("#requests-table").dataTable();
        $("#shopping-runs-table").dataTable();
    });
    
    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });
</script>
