<% provide(:title, "Shopping Runs") %>

<div class="page-header well">
    <h1>Pending Requests</h1>
</div>

<p>
See the table below for meal events that currently are not being shopped for. Please help shop for these materials!
<a href="javascript:toggle('help')">Help</a>
</p>

<div id=help class='hidden'>
    <li>If you can commit to buying the materials of a meal, please click "Buy Materials" in the corresponding row.</li>
    <li>A dropdown menu of all your currently scheduled shopping runs will appear. Select which shopping run you will commit to buying the materials by.</li>
    <li>You can always create a new shopping run, either by selecting that option from the dropdown menu, or by clicking the "New Shopping Run" button at the bottom of the page.</li>
    <br />
</div>

<div class="row-fluid">

    <table class="display" id="requests-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>MEAL</th>
                <th>Cook</th>
                <th>Materials Needed</th>
                <% if is_admin? %>
                    <th>RSVPs</th>
                    <th>Late RSVPs</th>
                    <th>Customers</th>
                <% end %>
                <% if signed_in? %>
                    <th></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% MealEvent.each do |meal_event| %>
                <% if needs_shopper?(meal_event) %>
                    <tr>
                        <td> <%= meal_event.date %> </td>
                        <td> <%= link_to meal_event.meal.name, meal_event_path(meal_event) %> </td>
                        <td> <%= link_to meal_event.cook.name, user_path(meal_event.cook) %> </td>
                        <td> <%= meal_event.materials %></td>
                        <% if is_admin? %>
                            <td> <%= show_users(meal_event.rsvps) %> </td>
                            <td> <%= show_users(meal_event.late_rsvps) %> </td>
                            <td> <%= show_users(meal_event.customers) %> </td>
                        <% end %>
                        <% if signed_in? %>
                            <td>
                                <!-- DROPDOWN MENU OF ALL POSSIBLE SHOPPING RUNS -->
                                <li id="fat-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Buy Materials</a>
                                <%= add_to_shopping_run_menu(meal_event).html_safe %>
                                </li>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>

<hr></hr>

<div class="page-header well">
    <h1><%= yield(:title) %></h1>
</div>

<p>
See the table below for all scheduled shopping runs.
<a href="javascript:toggle('help2')">Help</a>
</p>

<div id=help2 class='hidden'>
    <li>Click on the "Status" column label to separate all completed and pending shopping runs.</li>
    <li>To add materials for a meal to one of your shopping runs, click "Buy Materials" in the appropriate row above.</li>
    <li>To view information about a shopping run, click on "Details" in the corresponding row.</li>
    <li><b>To remove a meal from one of your shopping runs:</b> click on one of the listed meals in the "Meals to buy" column, and select "Remove".</li>
    <li>Once you finish a shopping run, click "Mark Completed" to enter your total payment amount.</li>
    <br />
</div>

<div class="row-fluid">

    <table class="display" id="shopping-runs-table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Place</th>
                <th>Meals to buy</th>
                <th>Shopper</th>
                <th>Helpers</th>
                <% if is_admin? %>
                    <th>Cost</th>
                <% end %>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @shopping_runs.each do |shopping_run| %>
                <tr>
                    <td> <%= shopping_run_status_text(shopping_run) %> </td>
                    <td> <%= shopping_run.date %> </td>
                    <td> <%= shopping_run.place %> </td>
                    <td>
                        <% shopping_run.meal_events.each do |meal_event| %>
                            <% unless meal_event == shopping_run.meal_events.first %>
                                <!-- PRINT COMMAS BETWEEN REQUESTS -->
                                ,
                            <% end %>
                            <!-- DROPDOWN MENU TO REMOVE REQUEST FROM SHOPPIN RUN -->
                            <sec id="fat-menu" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= meal_event.meal.name %></a>
                            <ul id="dropdown" class="dropdown-menu">
                                <li ><%= link_to 'Details', meal_event_path(meal_event) %></li>
                                <% if current_user?(shopping_run.shopper) || is_admin? %>
                                    <li ><%= link_to 'Remove', edit_shopping_request_path({:id => 0, :meal_event => meal_event.id}) %></li>
                                <% end %>
                            </ul>
                            </sec>
                            <!-- -->
                        <% end %>
                    </td>
                    <td> <%= link_to shopping_run.shopper.name, user_path(shopping_run.shopper) %> </td>
                    <td> <%= show_users(shopping_run.helpers) %> </td>
                    <% if is_admin? %>
                        <td> <%= shopping_run.cost %> </td>
                    <% end %>
                    <td> <%= link_to 'Details', shopping_run_path(shopping_run) %> </td>
                    <% if shopping_run.pending && current_user?(shopping_run.shopper) %>
                        <td> <%= link_to "Mark Completed", new_shopping_complete_path(:shopping_run => shopping_run.id) %> </td>
                    <% elsif shopping_run.pending && signed_in? && !current_user?(shopping_run.shopper) %>
                        <td> <%= link_to shopping_help_text(shopping_run), edit_shopping_helper_path(shopping_run) %> </td>
                    <% elsif !shopping_run.pending && !shopping_run.approved && is_admin? %>
                        <td> <%= link_to "Approve", new_shopping_approval_path(:shopping_run => shopping_run.id) %> </td>
                    <% elsif shopping_run.approved and is_admin? %>
                        <td> <%= link_to "Un-approve", edit_shopping_approval_path(shopping_run) %> </td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <% if (current_user?(shopping_run.shopper) and future_shopping_run(shopping_run)) || is_admin? %>
                        <td> <%= link_to 'Edit', edit_shopping_run_path(shopping_run) %> </td>
                        <td> <%= link_to 'Remove', shopping_run, :method => :delete, :data => { :confirm => "Are you sure?" } %> </td>
                    <% else %>
                        <td></td>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<br />

<% if signed_in? %>
    <%= link_to 'New Shopping Run', new_shopping_run_path, :class => "btn btn-large" %>
<% end %>
<hr />

<script>
    $(document).ready(function() {
        $("#requests-table").dataTable();
        $("#shopping-runs-table").dataTable();
    });
    
    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });
</script>
