<% provide(:title, 'Shopping run by ' + @shopping_run.shopper.name) %>

<h1><%= yield(:title) %></h1>

<h3>Date: <%= @shopping_run.date %></h3>

<p>Place: <%= @shopping_run.place %></h3>

<% unless @shopping_run.helpers.empty? %>
    <p>Helpers: <%= show_users(@shopping_run.helpers) %></p>
<% end %>

<p>Shopping for:
<% if @shopping_run.meal_events.empty? %>
    nothing currently!
<% else %>
    <br />
    <% @shopping_run.meal_events.each do |meal_event| %>
        <%= link_to meal_event.meal.name, meal_event_path(meal_event) %>
        <% unless meal_event.materials.blank? %>
            (Materials: <%= meal_event.materials %>)
        <% end %>
        <br />
    <% end %>
<% end %>
</p>

<p>
<%= shopping_run_status_text(@shopping_run) %>
<br />
<% unless @shopping_run.cost.nil? %>
    <% if current_user == @shopping_run.shopper || is_admin? %>
        Total cost: <%= @shopping_run.cost %>
    <% end %>
<% end %>
</p>

