<script type="text/javascript">
    function toggle_materials() {
        var item = document.getElementById("materials");
        item.className=(item.className=='hidden')?'':'hidden';
        //item.style.visibility=(item.style.visibility=='hidden')?'visible':'hidden';
    }
</script>

<%= form_for(@meal_event) do |f| %>
    <% if @meal_event.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@meal_event.errors.count, "error") %> prohibited this meal_event from being saved:</h2>

            <ul>
                <% @meal_event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="well">
        <!-- IF MEAL IS NOT SET, ADD ADDITIONAL MEAL FIELD -->
        <% if params[:meal].nil? %>
            <div class="field">
                <%= f.label :meal %><br />
                <%= f.text_field :meal, :required => "true", :placeholder => "name of meal" %>
            </div>
            <%= f.hidden_field 'new_meal', :value => true %>
        <% end %>
        <div class="field">
            <%= f.label :date %><br />
            <%= f.text_field :date , :required => "true", :pattern => "[0-9]{2}/[0-9]{2}/[0-9]{4}", :placeholder => "enter planned date here" %>
        </div>
        <div class="field">
            <%= f.label :time %><br />
            <%= f.text_field :time , :required => "true", :pattern => "[0-9]{1,2}:[0-9]{2} [ap]m", :placeholder => "enter planned time here" %>
        </div>
        <div class="field">
            <%= f.label :description %><br />
            <%= f.text_area :description, :size => '50x3', :placeholder => "description of meal" %>
        </div>

        <!-- CHECKBOX TO ENTER ADDITIONAL MATERIALS -->
        <div class="field">
            <label>Request materials to be shopped: <%= f.check_box :need_materials, {:value => "1", :onClick => "toggle_materials()"} %></label>
            <div id="materials" class="hidden">
                <%= f.text_area :materials, :size => '50x3', :placeholder => "desired materials" %>
            </div>
        </div>
        <!-- -->

        <div class="field">
            <%= f.label :max_rsvps, "Enter max # of customers (1-50). Leave blank otherwise." %><br />
            <%= f.text_field :max_rsvps, :pattern => "([0-4]?[0-9]?)|(50)", :placeholder => "maximum number of customers" %>
        </div>
        <div class="field">
            <%= f.label :remind_in_advance, "Enter for email notification. Leave blank otherwise." %><br />
            <%= f.text_field :remind_in_advance, :placeholder => "hours to remind in advance" %>
        </div>
        <% # IF MEAL IS SET, STORE IN HIDDEN FIELD %>
        <% if params[:meal] %>
            <% if is_admin? %>
                <div class="field">
                    <%= f.label :meal %><br />
                    <%= f.select :meal, options_for_select(Meal.all.map{ |meal| [meal.name, meal.id] }, params[:meal]), :required => true %>
                </div>
            <% else %>
                <%= f.hidden_field :meal, :value => params[:meal] %>
            <% end %>
        <% end %>
        <% # SHOW COOK FIELD IF USER IS ADMIN %>
        <% if is_admin? %>
            <div class="field">
                <%= f.label :cook %><br />
                <%= f.select :cook, options_for_select(User.all.map{ |user| [user.name, user.id] }, current_user.id), :required => true %>
            </div>
        <% else %>
            <%= f.hidden_field :cook, :value => current_user.id %>
        <% end %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <script>
        $('#meal_event_date').datepicker();
        $('#meal_event_time').timepicker({ 'timeFormat': 'g:i a'});
    </script>
<% end %>
