<%= form_for(@meal_event) do |f| %>
    <% if @meal_event.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@meal_event.errors.count, "error") %> prohibited this meal_event from being saved:</h2>

            <ul>
                <% @meal_event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :date %><br />
        <%= f.text_field :date , :required => "true", :pattern => "[0-9]{2}/[0-9]{2}/[0-9]{4}" %>
    </div>
    <div class="field">
        <%= f.label :time %><br />
        <%= f.text_field :time , :required => "true", :pattern => "[0-9]{1,2}:[0-9]{2} [ap]m" %>
    </div>
    <div class="field">
        <%= f.label :materials %><br />
        <%= f.text_field :materials %>
    </div>
    <div class="field">
        <%= f.label :remind_in_advance %><br />
        <%= f.text_field :remind_in_advance %>
    </div>
    <%= f.hidden_field :meal, :value => params[:meal] %>
    <%= f.hidden_field :cook, :value => current_user.id %>
    <div class="actions">
        <%= f.submit %>
    </div>
    <script>
        $('#meal_event_date').datepicker();
        $('#meal_event_time').timepicker({ 'timeFormat': 'g:i a'});
    </script>
<% end %>
