<% provide(:title, "Cook") %>

<h1>Cook <%= Meal.find_by_id(@meal_event.meal).name %></h1>

<h6>Current schedule is below.</h6>

<%= render 'edit_form' %>

<div class="row-fluid">
    <table class="display" id="meal-events-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>MEAL</th>
                <th>Cook</th>
                <th>Helpers</th>
                <% if is_admin? %>
                    <th></th>
                    <th></th>
                    <th></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% MealEvent.each do |meal_event| %>
                <tr>
                    <td> <%= meal_event.date %> </td>
                    <td> <%= Meal.find_by_id(meal_event.meal).name %> </td>
                    <td> <%= User.find_by_id(meal_event.cook).name %> </td>
                    <td> <%= meal_event.helpers.to_a %> </td>
                    <% if is_admin? %>
                        <td> <%= meal_event.rsvps.to_a %> </td>
                        <td> <%= meal_event.latersvps.to_a %> </td>
                        <td> <%= meal_event.customers.to_a %> </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $("#meal-events-table").dataTable();
    });

    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });
</script>
