<% provide(:title, "Schedule") %>
<div class="hero-unit">
    <h1>Schedule <small> cook, edit, or rsvp</small></h1>
</div>

<p>To Un-RSVP, simply click on the 'RSVPed' status for the corresponding meal.</p>

<div class="row-fluid">

    <table class="display" id="meal-events-table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Time</th>
                <th>MEAL</th>
                <th>Cook</th>
                <th>Helpers</th>
                <th></th>
                <% if is_admin? %>
                    <th>RSVPs</th>
                    <th>Late RSVPs</th>
                    <th>Customers</th>
                <% end %>
                <% if signed_in? %>
                    <th></th>
                    <th></th>
                <% end %>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @meal_events.each do |meal_event| %>
                <tr>
                    <td> <%= meal_event_status_text(meal_event) %> </td>
                    <td> <%= meal_event.date %> </td>
                    <td> <%= meal_event.time %> </td>
                    <td> <%= link_to meal_event.meal.name, meal_path(meal_event.meal) %> </td>
                    <td> <%= link_to meal_event.cook.name, user_path(meal_event.cook) %> </td>
                    <td> <%= show_users(meal_event.helpers) %> </td>
                    <td> <%= link_to 'Details', meal_event_path(meal_event) %> </td>
                    <% if is_admin? %>
                        <td> <%= show_users(meal_event.rsvps) %> </td>
                        <td> <%= show_users(meal_event.late_rsvps) %> </td>
                        <td> <%= show_users(meal_event.customers) %> </td>
                    <% end %>
                    <% if signed_in? %>
                        <td> <%= link_to help_text(meal_event), edit_helper_path(meal_event) %> </td>
                        <td>
                            <sec id="fat-menu" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= rsvp_text(meal_event) %></a>
                            <ul id="dropdown" class="dropdown-menu">
                                <!-- DROPDOWN MENU OF RSVP CHOICES -->
                                <% if is_rsvp?(meal_event) || is_late_rsvp?(meal_event) %>
                                    <li ><%= link_to 'Un-RSVP', edit_rsvp_path(meal_event) %></li>
                                <% else %>
                                    <li ><%= link_to 'I\'m coming: save some for meeeee!', edit_rsvp_path(meal_event) %></li>
                                    <li ><%= link_to 'Pick up later in 3W lounge', edit_rsvp_path({:id => meal_event.id, 'late' => true}) %></li>
                                <% end %>
                            </ul>
                            </sec>
                        </td>
                    <% end %>
                    <% if current_user?(meal_event.cook) || is_admin? %>
                        <td> <%= link_to 'Edit', edit_meal_event_path(meal_event) %> </td>
                        <td> <%= link_to 'Remove', meal_event, :method => :delete, :data => { :confirm => "Are you sure?" } %> </td>
                    <% else %>
                        <td></td>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $("#meal-events-table").dataTable();
    });

    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });
</script>
