<% provide(:title, "Schedule") %>

<div class="hero-unit">
    <h1>Schedule <small> cook, help and rsvp</small></h1>
</div>

<script type="text/javascript">
    function toggle(id) {
        var item = document.getElementById(id);
        item.className=(item.className=='hidden')?'':'hidden';
    }
</script>

<p>
See the table below for the current meal schedule.
<a href="javascript:toggle('help')">Help</a>
</p>

<div id=help class='hidden'>
    <li>Click on the "Date" column label to sort the meals by date.</li>
    <li>To cook a new meal, go to the "Meals" page and click "Cook This!" for a meal proposal.</li>
    <li>To view information about a scheduled meal, click on "Details" in the corresponding row.</li>
    <li>Please click on "Help Cook" to aid our wonderful chefs. The link will change to "Won't Help", which you can always click again to undo this action.</li>
    <li>RSVP so that our chefs know much to cook. Please select "I'm coming!" if you plan to eat at the normal time, and "Pick up later" if you want a portion saved for you.</li>
    <li>To Un-RSVP, simply click again on the "RSVPed" status for the corresponding meal.</li>
    <br />
</div>

<div class="row-fluid">

    <table class="display" id="meal-events-table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Time</th>
                <th>MEAL</th>
                <th>Cook</th>
                <th>Helpers</th>
                <th></th>
                <% if is_admin? %>
                    <th>RSVPs</th>
                    <th>Late RSVPs</th>
                    <th>Customers</th>
                <% end %>
                <% if signed_in? %>
                    <th></th>
                    <th></th>
                <% end %>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @meal_events.each do |meal_event| %>
                <tr>
                    <% if has_shopper?(meal_event) %>
                        <td>
                            <%= link_to (meal_event.shopping_run.shopper.name + ' shopping'), shopping_run_path(meal_event.shopping_run) %>
                        </td>
                    <% elsif signed_in? %>
                        <td>
                            <!-- DROPDOWN MENU OF ALL POSSIBLE SHOPPING RUNS -->
                            <sec id="fat-menu" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">awaiting shopper</a>
                            <%= add_to_shopping_run_menu(meal_event).html_safe %>
                            </sec>
                        </td>
                    <% else %>
                        <td> awaiting shopper </td>
                    <% end %>
                    <td> <%= meal_event.date %> </td>
                    <td> <%= meal_event.time %> </td>
                    <td> <%= link_to meal_event.meal.name, meal_path(meal_event.meal) %> </td>
                    <td> <%= link_to meal_event.cook.name, user_path(meal_event.cook) %> </td>
                    <td> <%= show_users(meal_event.helpers) %> </td>
                    <td> <%= link_to 'Details', meal_event_path(meal_event) %> </td>
                    <% if is_admin? %>
                        <td> <%= show_users(meal_event.rsvps) %> </td>
                        <td> <%= show_users(meal_event.late_rsvps) %> </td>
                        <td> <%= show_users(meal_event.customers) %> </td>
                    <% end %>
                    <% if signed_in? %>
                        <td>
                        <% if current_user != meal_event.cook || is_admin? %>
                            <%= link_to help_text(meal_event), edit_helper_path(meal_event) %>
                        <% end %>
                    </td>
                        <td>
                            <% if !is_some_rsvp?(meal_event) and rsvp_full?(meal_event) %>
                                Full.
                            <% else %>
                                <sec id="fat-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= rsvp_text(meal_event) %></a>
                                <ul id="dropdown" class="dropdown-menu">
                                    <!-- DROPDOWN MENU OF RSVP CHOICES -->
                                    <% if is_some_rsvp?(meal_event) %>
                                        <li ><%= link_to 'Un-RSVP', edit_rsvp_path(meal_event) %></li>
                                    <% else %>
                                        <li ><%= link_to 'I\'m coming: save some for meeeee!', edit_rsvp_path(meal_event) %></li>
                                        <li ><%= link_to 'Pick up later in 3W lounge', edit_rsvp_path({:id => meal_event.id, 'late' => true}) %></li>
                                    <% end %>
                                </ul>
                                </sec>
                            <% end %>
                        </td>
                    <% end %>
                    <% if (current_user?(meal_event.cook) and future_meal_event(meal_event)) || is_admin? %>
                        <td> <%= link_to 'Edit', edit_meal_event_path(meal_event) %> </td>
                        <td> <%= link_to 'Remove', meal_event, :method => :delete, :data => { :confirm => "Are you sure?" } %> </td>
                    <% else %>
                        <td></td>
                        <td></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<br />

<% if signed_in? %>
    <%= link_to 'Cook New Meal', new_meal_event_path, :class => "btn btn-large", :data => { :confirm => "Are you sure that you don't want to post your meal suggestion on the Vote page to be voted on first? Click OK only to post a meal directly onto the schedule." } %>
<% end %>

<script>
    $(document).ready(function() {
        $("#meal-events-table").dataTable();
    });

    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });
</script>
