<% provide(:title, @meal_event.meal.name + ' (Meal)') %>

<h1><%= yield(:title) %> <%= '[Side dish]' if @meal_event.side_dish %></h1>

<h3>Cooked by <%= link_to @meal_event.cook.name, user_path(@meal_event.cook) %></h3>

<h3>Date: <%= @meal_event.date %></h3>

<h3>Time: <%= @meal_event.time %></h3>

<p><%= @meal_event.description %></p>

<p>
Requires:
<% if @meal_event.materials.blank? %>
    nothing!
<% else %>
    <%= @meal_event.materials %>
<% end %>
</p>

<% unless @meal_event.helpers.empty? %>
    <p>Helpers: <%= show_users(@meal_event.helpers) %></p>
<% end %>

<% unless @meal_event.rsvps.empty? %>
    <p>RSVPs: <%= show_users(@meal_event.rsvps) %></p>
<% end %>

<% unless @meal_event.late_rsvps.empty? %>
    <p>Late RSVPs: <%= show_users(@meal_event.late_rsvps) %></p>
<% end %>

<p>Total RSVPs: <%= @meal_event.rsvps.size + @meal_event.late_rsvps.size %>
out of <%= @meal_event.max_rsvps %></p>

<% unless @meal_event.customers.empty? %>
    <p>Customers: <%= show_users(@meal_event.customers) %></p>
<% end %>

<% shopping_run = @meal_event.shopping_run %>
<% unless shopping_run.nil? %>
    <p>Materials shopped by <%= link_to shopping_run.shopper.name, user_path(shopping_run.shopper) %> on <%= shopping_run.date %> <%= link_to 'Details', shopping_run_path(shopping_run) %></p>
<% end %>

